/* .inline-table {
    color: black !important;
    display: inline-table;
    max-width: 80%;
  }
  
  .inline-table tr:nth-child(odd) {
    background-color: #d3d3d3;
  }
  
  .inline-table tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  

.caption {
    text-align: center;
    font-size: .75em;
}

.formula {
    text-align: center;
    font-size: .85em;
    font-family: "Courier New", Courier, monospace;
    color: green;
}