/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// default from vuepress
.home .hero img
  max-width 450px!important

details:hover
  cursor: pointer

:root {
  --BgColor1: $bgColor;
  --BgColor2: $bgColor;
  --TextColor: $textColor
  --AccentColor: $accentColor
  --fontFamily: $Rubik
  --LineColor: $accentColor
  --LineThickness: 1px
  --PrefixColor: $textColor
  --BorderColor: $borderColor
  --InLineCodeBG: $bgColor
  --InLineCodeText: $textColor
  --LinkColor: $textColor
  --HomePageLinkColor: #999
  }

.header-anchor
    color: var(--AccentColor)!important


// sets background for most items
html, body, .page, .theme-container, .links, header, .prefix
  background: var(--BgColor1)
  color: var(--TextColor)
  font-family: var(--fontFamily)

.sidebar, .sidebar-group, .sidebar-heading, nav, .navbar, .nav-dropdown, .is-sub-group
  background: var(--BgColor2)
  color: var(--TextColor)
  font-family: var(--fontFamily)

.amazingdiagram
   width: 40%
   height: auto
   display: block
   margin-left: auto
   margin-right: auto

.demoImage
   width: 60%
   height: auto
   display: block
   margin-left: auto
   margin-right: auto

.largerdiagram
   width: 80%
   height: auto
   display: block
   margin-left: auto
   margin-right: auto


.inline-table
  color: black !important
  display inline-table
  max-width 80%
  tr:nth-child(odd) {
    background-color: #d3d3d3
  }
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

.inline-table a
  color: var(--LinkColor)
  text-decoration: underline

.caption
  text-align: center
  font-size: .75em

.footnote
  text-align: center
  font-size: .66em

code:not(pre code)
  background: var(--InLineCodeBG) !important
  color: var(--InLineCodeText) !important

h2
  border-bottom: 4px solid var(--LineColor)

.subHeaderGroupTitle
      color var(--TextColor) !important

p
  a  
    color:var(--LinkColor)
    text-decoration: underline
    &:hover
      color: var(--AccentColor)
      text-decoration: none !important

.page
  li
    a
      color:var(--LinkColor)
      text-decoration: underline
      &:hover
        color: var(--AccentColor)
        text-decoration: none !important

.align-left
  text-align: left 

.NotFound
  text-align: center
  margin-top: 10%
  // color: purple

.home-container
  display: flex
  flex-wrap: wrap
  align-content: center
  justify-content: center


.home-box
  display inline-block
  padding 25px
  border 1px solid var(--BorderColor)
  margin 20px
  max-width 40%
  min-width 35%
  border-radius 20px
  transition: transform 0.3s ease;
  color: var(--TextColor)
  a
   color: var(--TextColor)
  &:hover
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 15px var(--LineColor);
    a
     text-decoration: none !important
     color var(--HomePageLinkColor)
     h3
      // text-decoration: underline

.smaller-image
  width: 75%
  height: auto

.discord-container
  display: flex
  align-items: center
  justify-content: center
  color black !important
  text-align center
  padding 10px
  border-radius 5px
  background linear-gradient(90deg, #f1d5c8 0%, #f2c0f7 100%)
  text-decoration none !important
  width 150px


  span 
   &:hover
    background linear-gradient(90deg, #DDAE8B 0%, #DDAE8B 100%)
    color black !important
    text-decoration none

  &:hover
    background linear-gradient(90deg, #DDAE8B 0%, #DDAE8B 100%)
    color black !important
    text-decoration none

.discord-button-home
  background-image linear-gradient(90deg, #f1d5c8 0%, #f2c0f7 100%)

.discord-logo-home
  width 25px
  margin-right 10px

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Aspect Ratio (height / width * 100) */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.theme-default-content .warning {
  background-color:  var(--InLineCodeBG);
  border-left-color:  #fe0230;
  color: #fe0230;

  .custom-block-title {
    background-color: transparent;
    color: #fe0230;
    font-weight: bold;
  }
}

.theme-default-content .tip {
  background-color:  var(--LineColor);
  border-left-color: var(--AccentColor);
  color: var(--TextColor);

  .custom-block-title {
    background-color: transparent;
    color: var(--TextColor);
    font-weight: bold;
  }
}