/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */




$accentColor = #aaa
$textColor = white
$borderColor = #555
$codeBgColor = #282c34
$contentWidth = 100%
$bgColor = #0A0B09
$Rubik = 'Rubik', sans-serif
$Dancer = 'Dancing Script', cursive

